
ion-toolbar {
  --background: rgba(0, 0, 0,.6);
}

ion-content{
  --padding-start:8px;
  --padding-end: 8px;
}

.cards {
  margin-bottom: 1.2rem;
      h2{
      font-size: 1em;
      font-weight: 600; 
      line-height: 1.3;
      margin: 0;
      margin-bottom: 0.2rem;
      }

      ion-card{
        width: 160px;
        height: 140px;
        background-size: cover !important;
        background-position: center !important;
        margin:0;
        
      }
}
 
  