<ion-header #header class="ion-no-border">
  <ion-toolbar>
    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size="4" class="ion-text-right">
        TV Shows
      </ion-col>
      <ion-col size="4">
        Movies
      </ion-col>
      <ion-col size="4" tappable (click)="openCategories()" class="ion-text-left">
        Categories 
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-text-center">
      <ion-col size="4" class="ion-text-right">
        TV Shows
      </ion-col>
      <ion-col size="4">
        Movies
      </ion-col>
      <ion-col size="4" tappable (click)="openCategories()" class="ion-text-left">
        Categories 
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true"   (ionScroll)='onContentScroll($event)'>
    
    <div class="cards">
        <h2>Ação e aventura</h2>
        <ion-slides [options]="slidesOptions">
          <ion-slide>
            <ion-card [style.background]="'url(./assets/images/stranger.jpg)'" class="tv_card"></ion-card>
          </ion-slide> 
          <ion-slide>
            <ion-card [style.background]="'url(./assets/images/black.jpg)'" class="tv_card"></ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card [style.background]="'url(./assets/images/super.jpg)'" class="tv_card"></ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card [style.background]="'url(./assets/images/flash.jpg)'" class="tv_card"></ion-card>
          </ion-slide>   
        </ion-slides>
    </div>

    <div class="cards">
      <h2>Ação e aventura</h2>
      <ion-slides [options]="slidesOptions">
        <ion-slide>
          <ion-card [style.background]="'url(./assets/images/stranger.jpg)'" class="tv_card"></ion-card>
        </ion-slide> 
        <ion-slide>
          <ion-card [style.background]="'url(./assets/images/black.jpg)'" class="tv_card"></ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card [style.background]="'url(./assets/images/super.jpg)'" class="tv_card"></ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card [style.background]="'url(./assets/images/flash.jpg)'" class="tv_card"></ion-card>
        </ion-slide>   
      </ion-slides>
  </div>
  
  
  <div class="cards">
    <h2>Ação e aventura</h2>
    <ion-slides [options]="slidesOptions">
      <ion-slide>
        <ion-card [style.background]="'url(./assets/images/stranger.jpg)'" class="tv_card"></ion-card>
      </ion-slide> 
      <ion-slide>
        <ion-card [style.background]="'url(./assets/images/black.jpg)'" class="tv_card"></ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card [style.background]="'url(./assets/images/super.jpg)'" class="tv_card"></ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card [style.background]="'url(./assets/images/flash.jpg)'" class="tv_card"></ion-card>
      </ion-slide>   
    </ion-slides>
</div> 


<div class="cards">
  <h2>Ação e aventura</h2>
  <ion-slides [options]="slidesOptions">
    <ion-slide>
      <ion-card [style.background]="'url(./assets/images/stranger.jpg)'" class="tv_card"></ion-card>
    </ion-slide> 
    <ion-slide>
      <ion-card [style.background]="'url(./assets/images/black.jpg)'" class="tv_card"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.background]="'url(./assets/images/super.jpg)'" class="tv_card"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.background]="'url(./assets/images/flash.jpg)'" class="tv_card"></ion-card>
    </ion-slide>   
  </ion-slides>
</div> 


<div class="cards">
  <h2>Ação e aventura</h2>
  <ion-slides [options]="slidesOptions">
    <ion-slide>
      <ion-card [style.background]="'url(./assets/images/stranger.jpg)'" class="tv_card"></ion-card>
    </ion-slide> 
    <ion-slide>
      <ion-card [style.background]="'url(./assets/images/black.jpg)'" class="tv_card"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.background]="'url(./assets/images/super.jpg)'" class="tv_card"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.background]="'url(./assets/images/flash.jpg)'" class="tv_card"></ion-card>
    </ion-slide>   
  </ion-slides>
</div> 
    
     
</ion-content>